[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
  url = https://github.com/tmux-plugins/tmux-continuum.git

[submodule "tmux/plugins/minimal-tmux-status"]
	path = tmux/plugins/minimal-tmux-status
	url = git@github.com:niksingh710/minimal-tmux-status.git
